In [2]:
#Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_itinerary_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_itinerary_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Yellowknife,CA,64.40,scattered clouds,62.46,-114.35,The Explorer Hotel
1,2,College,US,57.99,overcast clouds,64.86,-147.80,Pike's Waterfront Lodge
2,3,Bulawayo,ZW,55.13,scattered clouds,-20.15,28.58,4 On Housman Backpackers
3,6,Katsuura,JP,75.20,mist,35.13,140.30,Katsuura Hotel Mikazuki
4,10,Puerto Ayora,EC,71.01,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel

In [5]:
vacation_itinerary_df = vacation_itinerary_df.drop(['Unnamed: 0'], axis = 1)
vacation_itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Yellowknife,CA,64.40,scattered clouds,62.46,-114.35,The Explorer Hotel
1,College,US,57.99,overcast clouds,64.86,-147.80,Pike's Waterfront Lodge
2,Bulawayo,ZW,55.13,scattered clouds,-20.15,28.58,4 On Housman Backpackers
3,Katsuura,JP,75.20,mist,35.13,140.30,Katsuura Hotel Mikazuki
4,Puerto Ayora,EC,71.01,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
340,Fethiye,TR,69.80,few clouds,36.62,29.12,Club & Hotel Letoonia
341,Berndorf,AT,66.99,few clouds,47.95,16.11,Hotel Kaiservilla
342,Nantucket,US,71.60,clear sky,41.28,-70.10,Jared Coffin House
343,Halifax,CA,62.01,overcast clouds,44.65,-63.57,Hotel Halifax
344,Kysyl-Syr,RU,58.62,few clouds,63.90,122.76,NaN

In [6]:
#Create separate DataFrames for each city on the travel route, using the loc attribute.
Fortuna_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Fortuna")] 
Hillsborough_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Hillsborough")]
Lompoc_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Lompoc")] 
SanGabriel_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="San Gabriel")]

In [7]:
#Combine the four separate DataFrames for each city into one DataFrame.
frames = [Fortuna_df, Hillsborough_df, Lompoc_df, SanGabriel_df]
result_df = pd.concat(frames).reset_index(drop=True)
result_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Fortuna,US,63.00,clear sky,40.60,-124.16,Super 8 by Wyndham Fortuna
1,Hillsborough,US,80.01,clear sky,37.57,-122.38,Hyatt Regency San Francisco Airport
2,Lompoc,US,66.00,clear sky,34.64,-120.46,Holiday Inn Express Lompoc
3,San Gabriel,US,88.00,clear sky,34.10,-118.11,Hilton Los Angeles/San Gabriel

In [8]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F </dd>
</dl>
"""

In [9]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in result_df.iterrows()]